body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
 color: white;
 padding-top: 25px;
 font-family: 'Hubballi', sans-serif;
 font-size: 80px;
 display: flex;
 justify-content: flex-start;
}

#task-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#todo-list {
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 20px;
}

#user-input {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  width: 300px;
  height: 49 px;
}

#task-input button:hover {
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: black;
  }

#todo-list button:hover {
  width: 100px;
  height: 35px;
  background-color: black;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: black;
}
#task-input button{
  // color: white;
  color: #39ff14;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.center {
  padding-top: 10%;
  padding-bottom: 25%;
  width: 100%;
}

.checkbox {

    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}

//

// .checkbox > input:checked {
//   border: 1px solid #41B883;
//   background-color: #34495E;
// }

// input[type=checkbox]{
//   display: grid;
//   width: 100px; height: 70px;
//   line-height: 60px;
//   text-align: center;
//   cursor: pointer;
//   border: 0;
//   appearance: none; -webkit-appearance: none;
//   }

//   input[type=checkbox]::before,
//   input[type=checkbox]::after{
//   grid-area: 1/1;
//   border-radius: 40px;
//   mix-blend-mode: hard-light;
//   pointer-events: none;
//   }

//   input[type=checkbox]::before{
//   transform: translate(10px, 10px);
//   background: green;
//   text-indent: -20px;
//   font-size: 25px;
//   content: '✓';
//   color: white;
//   }

//   input[type=checkbox]::after{
//   background: blue;
//   font-size: 50px;
//   content: '⨯';
//   }

//   input[type=checkbox]:checked::after{
//   mix-blend-mode: unset;
//   color: transparent;
//   }

//   main{
//   display: grid;
//   grid:  repeat(4, 100px) / 150px 1fr;
//   align-items: center;
//   width: max-content;
//   }

//   label{
//   font: 60px Girassol;
//   color: lime;
//   text-shadow: 2px 2px 0 blue;
//   cursor: pointer;
//   }

  // body{
  // display: grid;
  // height: 100vh;
  // align-items: center;
  // justify-items: center;
  // background: white;
  // user-select: none; -webkit-user-select:  none;
  // -webkit-tap-highlight-color: transparent;
  // }


